<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="files" placeholder="Photo" required="" multiple>
        <button type="submit">Submit</button>
    </form>

    <% images.forEach(function (image){ %>
        <% for(var i=0;i<image.images.length;i++){ %>
            <% var new_array=image.images[i] %>   
            <img src="<%= new_array.location %>">
    <% } %>
    <% }) %>  
</body>
</html>